<%= render 'share/header' %>
<div class="new-box">
  <div class="left-box">
    <div class="form-box">
      <h2>
        <%= "add" %>
      </h2>
      <%= form_with model: [@user, @tag, @url], url: user_tag_urls_path(@user.id, @tag.id),method: :post, local: true do |f| %>
      <div class="url-box">
        <p>
          <%= f.text_field :youtubepath, class:"form-control" %>
        </p>
      </div>
      <p class="submit-btn">
        <%= f.submit "送信", class:"btn btn-primary"%>
      </p>
      <%= link_to "タグに戻る", user_tag_path(@user.id, @tag.id), class:"btn btn-link" %>
      <% end %>
    </div>
  </div>
  <%= render 'share/nglist' %>
</div>